.archivements_header {
  margin: 30px 30px 10px;
  font-size: 30px;
  border-bottom: 10px solid;
  width: 80vw;
}

.skills_wrapper {
  margin: 0 5vw 5vh;
  width: 430px;
  display: block;
  float: left;
}

.skills_name {
  font-size: 25px;
  margin-bottom: 20px;
}

.skills_name h1 {
  margin-bottom: 7px;
}

.skills_info_wrapper {
  display: flex;
  font-size: 15px;
}

.skills_info_wrapper .first_skills_info {
  margin-right: 50px;
}

.skills_text {
  border-bottom: solid 3px;
  margin-bottom: 5px;
}

li {
  list-style: none;
}

li .upper_intermediate_bar {
  line-height: 20px;
  padding-left: 5px;
  margin: 10px;
  width: 180px;
  height: 20px;
  background-color: yellowgreen;
}

li .lower_intermediate_bar {
  line-height: 20px;
  padding-left: 5px;
  margin: 10px;
  width: 140px;
  height: 20px;
  background-color: yellow;
}

li .upper_elementary_bar {
  line-height: 20px;
  padding-left: 5px;
  margin: 10px;
  width: 100px;
  height: 20px;
  background-color: red;
}

li .lower_elementary_bar {
  line-height: 20px;
  padding-left: 5px;
  margin: 10px;
  width: 60px;
  height: 20px;
  background-color: orangered;
}

p {
  line-height: normal;
  font-size: 15px;
}

.skills_img_wrapper {
  display: block;
  float: left;
  margin-top: 40px;
}

.skills_img_wrapper .skills_img {
  background-image: url("../img/skills1.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.archivements_history_wrapper {
  margin-bottom: 230px;
}

.application_wrapper {
  margin: 20px 50px 50px 40px;
}

.application {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 3px;
  column-gap: 3px;
  grid-row-gap: 10px;
  row-gap: 10px;
  height: 280px;
}

.application_name {
  grid-column: 2/3;
  grid-row: 1/1;
  font-size: 25px;
  justify-self: left;
}

.application_photo {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("../img/pic6.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 290px;
}

.application_text {
  border-bottom: solid 3px;
  font-size: 15px;
  margin-bottom: 5px;
}

.history {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 30px;
  column-gap: 30px;
  grid-row-gap: 10px;
  row-gap: 10px;
  height: 230px;
}

.history_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
  height: 100%;
}

.history_name {
  grid-column: 5/6;
  grid-row: 1/1;
  font-size: 25px;
  justify-self: center;
  letter-spacing: -4px;
}

.history_info_wrapper {
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 15px;
  justify-self: end;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.history_photo {
  grid-column: 2/3;
  grid-row: 1/3;
  background-image: url("../img/pic4.jpg");
  background-size: cover;
  height: 420px;
  width: 340px;
}

.history_name h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.history_text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
